body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* search input */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }
/* search style end */


.hero{
    margin-top: 150px;
}

#card-image{
    background-image: url(assets/images/Image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    position: relative;
    top: 80px;
}

.card-title{
    margin-left: 30px;
}



.box-height{
    height: 600px;
}

.readthis{
    margin: 100px 0px 0px 50px;
    font-weight: 500;
    font-size: 18px;
    color: grey;
}

.heading{
    margin: 30px 0px 0px 50px;
    font-weight: 600;
    font-size: 45px;
    color: #1E1E1E;
}

.values{
    font-size: 20px;
}

.main-bg{
    background-image: url(assets/images/Group\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -200px;
}

.main-content{
    padding-top: 150px;
    padding-bottom: 150px;
    height: fit-content;
    margin-top: 150px;
    color: #fff;
}


/* carousel  */
.image img{
    border-radius: 100%;
    width: 100px;

    margin-left: 40px;
}



.carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
   position: relative;
   top: 50px;
 }

 .carousel-indicators [data-bs-target]{
    background-color: #1E1E1E;
 }


 .carousel-control-next{
    display: none;
 }

 .carousel-control-prev{
    display: none;
 }

 .services{
    background-color: #F7F7F7;
    position: relative;
    top: -50px;
 }

 .image-resp{
    width: 60px;
    filter: invert(28%) sepia(72%) saturate(5439%) hue-rotate(232deg) brightness(96%) contrast(98%);
 }


/*creative*/
.creative{
    background-image: url(assets/images/image3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: -50px;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
  }
 
.creative-banner{
    padding-top: 250px;
    padding-bottom: 180px;
}

.team {
    padding-top: 150px;
    padding-bottom: 100px;
}





/* owl */

/* .owl-carousel.owl-drag .owl-item img{
    width: 150px;
} */

.mugshot{
    margin-top: 250px;
    font-weight: 700;
    font-size: 15px;
}

.team-potential{
   line-height: 35px;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
    position: absolute;
    left: 0px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D600;
    display: block;
    backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 1px solid black;
  }

  .owl-carousel .owl-nav button.owl-prev{
    display: none;
  }


  .owl-carousel .owl-nav button.owl-next{
    display: none;
  }

.owl-rounded{
    height: 80px;
    width: 20px;
    border-radius: 50%;
}

.read-post{
    background-color: #ED3A50;
    padding: 100px 130px;
}

.read-contact{
    background-color: #364FF4;
    padding: 100px;
}

.read-post h5{
    font-weight: 300;
}

.read-contact h5{
    font-weight: 300;
}





